<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MyFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8BAA7C401CA2D3C200D03DDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAA7C4A1CA2D3C200D03DDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAA7C5E1CA2E43000D03DDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BAA7C741CA2E43000D03DDD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
